.app {
  --seashell: #fff1eb; /* lighter apricot */
  --apricot: #ffc9ad;
  --melon: #ffb4a2;
  --pastel-pink: #e5989b;
  --english-lavender: #b5838d;
  --old-lavender: #6d6875;
  --jet: #323036; /* darker old-lavender */

  --accent-font: "Satisfy", cursive;

  background-color: var(--jet);
  min-height: 100%;
  padding-bottom: 100px;
}

.app h1 {
  display: block;
  width: calc(100% - 10%);
  padding: 40px 5%;
  font-size: 3em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--seashell);
}

.app h2 {
  display: block;
  width: calc(100% - 10%);
  padding: 40px 5% 0px 5%;
  margin: 0;
  font-size: 2em;
  color: var(--seashell);
  font-weight: bold;
}

.app p {
  display: block;
  width: calc(100% - 10%);
  max-width: 40em;
  margin: 0;
  padding: 0 5%;
  color: var(--melon);
}

.app strong {
  text-decoration: underline;
}

.app ul,
ol {
  display: block;
  display: block;
  width: calc(100% - 10% - 2em);
  margin: 0;
  padding: 0 5% 0 calc(5% + 2em);
  color: var(--melon);
}

.app a {
  color: var(--pastel-pink);
  font-weight: 900;
}

.nav-bar-container > nav {
  background: var(--apricot);
}

.nav-bar-container > nav > ul {
  display: flex;
  height: 80px;
  margin: 0;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

/* MOBILE */
@media screen and (max-width: 500px) {
  .nav-bar-container > nav > ul {
    flex-direction: column;
    height: auto;
    padding: 5px;
  }
}

.nav-bar-container > nav > ul > li {
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
  margin: 0 20px;
  padding: 20px;
}

/* MOBILE */
@media screen and (max-width: 500px) {
  .nav-bar-container > nav > ul > li {
    margin: 0 0;
    padding: 5px;
  }
}

.nav-bar-container > nav > ul > li > a {
  text-decoration: none;
  color: var(--old-lavender);
  font-weight: bold;
  font-size: 1.2em;
}

.nav-bar-container > nav > ul > li > a:hover {
  color: var(--pastel-pink);
}

.home-page {
  min-height: 800px;
  background-position-x: center;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: cover;
}

.big-title h1 {
  padding-top: 200px;
  margin: 0;
  text-transform: initial;
  font-size: 5em;
  font-family: var(--accent-font);
  color: var(--seashell);
}

.big-title span {
  color: var(--seashell);
  margin-left: 10%;
}

img.full-width {
  width: 80%;
  margin: 40px 10%;
}

img.side-by-side:nth-of-type(1) {
  min-width: 400px;
  float: left;
  width: 42.5%;
  margin: 30px 2.5% 50px 5%;
}

img.side-by-side:nth-of-type(2) {
  min-width: 400px;
  float: right;
  width: 42.5%;
  margin: 30px 5% 50px 2.5%;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

body > div {
  /* #root */
  height: 100%;
}
