.nav-bar-container {
  --nav-bar-link-color: #eeeeee;
}

.nav-bar-container > nav {
  height: 100px;
  background: rgba(50, 50, 50, 0.4);
}

.nav-bar-container > nav > ul {
  display: flex;
  margin: 0;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.nav-bar-container > nav > ul > li {
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
  margin: 0 20px;
  padding: 20px;
  text-decoration: none;
  color: var(--nav-bar-link-color);
}

.nav-bar-container > nav > ul > li > a {
  text-decoration: none;
  color: var(--nav-bar-link-color);
  font-weight: bold;
  font-size: 1.2em;
}
